
## 项目说明

- 项目名称是 emoji-maker
- 它是一个纯前端项目，可以随意部署
- 功能是，可以自由组合图片
- 核心目的是自己快速制作表情包
- 表情包由多个图片组合而成
- 文字则可以由用户自己输入
- 使用 pnpm 来管理项目、安装依赖，尽量不使用 npm

## 要求

- 每次你完成某些需求后，都请更新一下文档 development.log 文件，并递增内部开发版本号
- 更新 development.log 文件时，你需要记录一下我的要求，然后记录你完成了什么事，不要更新版本号
- 如果是一次的连贯性需求包含后续的修改bug，请在 development.log 中记录，不要更新版本号，这里仅仅是指最新的版本日志，任何情况下都不能修改旧版本的开发日志
- 你在开发时，如果有问题，可以读取 development.log 文件，获取之前的开发记录
- 记录时不需要包含日期，仅包含版本号即可
- development.log 中应当使用中文为主