
## 项目说明

- 项目名称是 emoji-maker
- 它是一个纯前端项目，可以随意部署
- 功能是，可以自由组合图片
- 核心目的是自己快速制作表情包
- 表情包由多个图片组合而成
- 文字则可以由用户自己输入
- 使用 pnpm 来管理项目、安装依赖，尽量不使用 npm
- 本项目内有 i18n 国际化，所以每次添加新的需要显示给用户的文字时，请使用 i18n 的 t 函数，并传入对应的 key，如果找不到对应的 key，请自行创建一个

## EmojiMaker 组件

- 这个组件是整个项目最核心的组件，它包含了所有表情包的制作功能
- 其中所有用户可以看到的选项都需要国际化
- 所有可编辑项都需要持久化以便于下次打开时继续使用
- 所有可编辑项都需要有默认值
- 所有可编辑项都需要有合理的默认值

## 要求

- 每次你完成某些需求后，都请更新一下文档 development.log 文件，并递增内部开发版本号
- 更新 development.log 文件时，你需要记录一下我的要求，然后记录你完成了什么事
- 只能更新最新版本的开发日志，任何情况下都不能修改旧版本的开发日志
- 你在开发时，如果有问题，可以读取 development.log 文件，获取之前的开发记录
- 记录时不需要包含日期，仅包含版本号即可
- development.log 中应当使用中文为主